<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="luubieunghi.lbn.booklib">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".UI.BookPageManagement.BookPageManagement">
        </activity>
        <activity android:name=".UI.PlayAudio.PlayAudio">
        </activity>
        <activity android:name=".UI.ReadBookSetting.ReadBookSettingActivity"></activity>
        <activity android:name=".UI.BookPageManagement.PageManagementActivity"></activity>
        <activity android:name=".UI.ReadBook.ReadBookActivity"></activity>
        <activity android:name=".UI.Main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UI.OpenAlbum.OpenAlbum" />
        <activity android:name=".UI.PlayMusic.PlayMusic" />
        <activity
            android:name=".UI.About.AboutActivity"
            android:label="About" />
        <activity android:name=".UI.AddNewBook.AddNewBookActivity" />

        <activity android:name=".UI.Setting.SettingsActivity"/>

        <activity android:name=".UI.OpenListSong.OpenListSong">
        </activity>

        <service android:name=".Services.MyService" />

        <receiver android:name=".Services.NotificationReciever" />
    </application>

</manifest>